<div class="box link-item">
  <article class="media">
    <div class="media-content">
      {{#if isEditState}}
      <label class="label">
        {{t "component.link-item.label.title"}}
      </label>
      <p class="control has-icon has-icon-right">
        {{input type="text" class="input" value=link.title }}
        {{#if link.isNotEmptyTitle}}
          <span class="help is-success">
            {{t "component.link-item.label.title.helper.success"}}
          </span>
        {{else}}
          <span class="help is-danger">
            {{t "component.link-item.label.title.helper.dnager"}}
          </span>
        {{/if}}
      </p>
      <p class="control">
        <label class="label">{{t "component.link-item.label.url"}}</label>
        {{input type="text" class="input" value=link.url}}
        {{#if link.isValidLink}}
          <span class="help is-success">
            {{t "component.link-item.label.url.helper.success"}}
          </span>
        {{else}}
          <span class="help is-danger">
            {{t "component.link-item.label.url.helper.danger"}}
          </span>
        {{/if}}
      </p>
      <p class="control">
        <label class="label">{{t "component.link-item.label.description"}}</label>
        {{textarea type="text" class="textarea" value=link.description}}
      </p>
      {{else}}
        <p>
          <span class="favorite" {{action "toggleFavorite"}}>
          {{#if link.isFavorited}}
            {{fa-icon "star"}}
          {{else}}
            {{fa-icon "star-o"}}
          {{/if}}

          </span>
          &nbsp;<strong>{{link.title}}</strong> <small>{{moment-from-now link.createdAt}}</small>
          <br>
          <a href={{link.url}} target="_blank"> {{link.url}}</a>
          <hr>
          {{link.description}}
        </p>
      {{/if}}
    </div>
    <div class="media-right is-grouped">
      <p class="control is-grouped">
        {{#if isEditState}}
          <button class="button is-success {{if link.isSaveAvailable '' 'is-disabled'}}"  {{action "saveLink" link}}>{{fa-icon "save"}}</button>
          <button class="button" {{action "cancelLink" link}}>{{fa-icon "reply"}}</button>
        {{else}}
          <button class="button" {{action "editLink" link}}>{{fa-icon "pencil"}}</button>
        {{/if}}
        <button class="button is-danger" {{action "deleteLink" link}}>{{fa-icon "trash"}}</button>
        {{yield}}
      </p>
    </div>
  </article>
</div>
