<div class="modal-background"></div>
<div class="modal-container">
  <div class="modal-content">
    <h1 class="title is-3">
      {{t "component.new-collection-modal.label.modal.title"}}
    </h1>
    <label class="label">
      {{t "component.new-collection-modal.label.title"}}
    </label>
    <p class="control">
      {{input value=newTitle class="input" type="text"}}
      {{#unless isNotEmptyTitle}}
        <span class="help is-danger">
          {{t "component.new-collection-modal.label.title.helper.danger"}}
        </span>
      {{/unless}}
    </p>
    <label class="label">
      {{t "component.new-collection-modal.label.description"}}
    </label>
    <p class="control">
      {{textarea value=newDescription class="textarea"}}
    </p>
    <p class="control">
      <button class="button is-primary" {{action "saveCollection"}} >
        {{t "component.new-collection-modal.label.submit"}}
      </button>
      <button class="button is-link" {{action "closeCollectionModal"}}>
        {{t "component.new-collection-modal.label.cancel"}}
      </button>
    </p>
  </div>
</div>
<button class="modal-close" {{action "closeCollectionModal"}}></button>