{{weekly-draft-preview
      links=weekly.links
      sectionTitle=weekly.title
      sectionDescription=weekly.description
}}

<hr>
{{link-to "Edit" 'collections.show.weeklies.edit'  weekly}} |  <a href="#" {{action "deleteWeekly"}}>Delete</a>
<br>
{{link-to 'Back to collections' 'collections.show.index' collection}}
{{outlet}}
