<div class="columns">
  <div class="column is-one-quarter">
    {{collection-side-panel collections=collections}}
  </div>
  <div class="column">
    <h2 class="title is-3">
      {{#if isEditState}}
        {{input type="text" value=collection.title}}
        <button class="button is-primary" {{action "saveCollection"}}>{{fa-icon "save"}}</button>
        <button class="button is-link" {{action "cancelEdit"}}>Cancel</button>
      {{else}}
        {{collection.title}}
        <button class="button" {{action "editCollection"}}>{{fa-icon "pencil"}}</button>
      {{/if}}
    </h2>
    <h3 class="subtitle is-3">
      {{#if isEditState}}
        {{textarea value=collection.description}}
      {{else}}
        {{collection.description}}
      {{/if}}
    </h3>
    <div class="is-pulled-right">
      {{#link-to 'collections.show.weeklies.new' class="button is-primary"}}New Weekly{{/link-to}}
    </div>
    <div class="is-clearfix"></div>
    <br>
    {{!-- Weekly NewsLetter list --}}
    {{#if (gt collection.weeklies.length 0)}}
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Published Date</th>
            <th>Created Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {{#each collection.weeklies as |weekly index|}}
        <tr>
          <td>{{index}}</td>
          <td>{{weekly.title}}</td>
          <td>{{weekly.description}}</td>
          <td>
            {{moment-format weekly.publishedAt 'MM.DD.YYYY HH:mm'}}
          </td>
          <td>{{moment-from-now weekly.createdAt}}</td>
          <td>
            <p class="control has-addons">
              {{#link-to 'collections.show.weeklies.show' weekly}}
                <span class="icon"><i class="fa fa-eye"></i></span>
              {{/link-to}}
              {{#unless weekly.isPublished}}
                <a href="#">
                  <span class="icon"><i class="fa fa-trash"></i></span>
                </a>
              {{/unless}}
            </p>
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <h1 class="title is-1">There is no weekly newsletter. Please add first.</h1>
    {{/if}}
    {{outlet}}
  </div>
</div>
