<div class="columns">
  {{number-box title="Links" number=links.length}}
  {{number-box title="Weeklies" number=weeklies.length}}
  {{number-box title="Collections" number=collections.length}}
</div>

<div class="columns">
  {{seeder-block
                counter=linkCounter
                sectionTitle="Number of New links"
                generateAction="generateLinks"
                deleteAction="deleteLinks"
                createReady=linkDone
                deleteReady=linkDelDone
  }}
  {{seeder-block
                counter=weeklyCounter
                sectionTitle="Number of New Weeklies"
                generateAction="generateWeeklys"
                deleteAction="deleteWeeklys"
                createReady=weeklyDone
                deleteReady=weeklyDelDone
  }}
  {{seeder-block
                counter=collectionCounter
                sectionTitle="Number of New Collections"
                generateAction="generateCollections"
                deleteAction="deleteCollections"
                createReady=collectionDone
                deleteReady=collectionDelDone
  }}
</div>
{{outlet}}
