<div class="columns">
  {{number-box title="Links" number=links.length}}
  {{number-box title="Weeklys" number=weeklies.length}}
</div>

<div class="columns">
  {{seeder-block
                counter=linkCounter
                sectionTitle="Number of New links"
                generateAction="generateLinks"
                deleteAction="deleteLinks"
                createReady=linkDone
                deleteReady=linkDelDone
  }}
  {{seeder-block
                counter=weeklyCounter
                sectionTitle="Number of New links"
                generateAction="generateWeeklys"
                deleteAction="deleteWeeklys"
                createReady=weeklyDone
                deleteReady=weeklyDelDone
  }}
</div>
{{outlet}}
