<h1 class="title is-3">
  Collections
</h1>
<hr>
<div class="is-pulled-right">
  <button class="button is-primary" {{action "openCollectionModal"}}>New Collections</button>
</div>
<div class="is-clearfix"></div>

<div class="columns is-multiline">
  {{#each model as |collection|}}
  <div class="column is-one-quarter">
    <div class="notification is-warning">
      <p class="collection-header">{{#link-to 'collections.show' collection}}{{collection.title}}{{/link-to}}</p>
      <p class="collection-description">{{collection.description}}</p>
      <p class="collection-miscellaneous">
        Weeklies : {{collection.weeklies.length}}
      </p>
    </div>
  </div>
  {{/each}}
</div>
{{outlet}}
