{{!-- Main Nav --}}
<header class="header">
  <div class="container">
    <!-- Left side -->
    <div class="header-left">
    <a href="#" class="header-item">
      {{link-to 'LINK CURATION' 'home' tagName="h1" class="title is-3"}}
    </a>
    </div>

    <!-- Hamburger menu (on mobile) -->
    <span class="header-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <!-- Right side -->
    <div class="header-right header-menu">
      <span class="header-item">
        {{link-to 'Archive' 'archive' class="link is-info"}}
      </span>
      <span class="header-item">
        {{link-to 'Collections' 'collections.index' class="link is-info"}}
      </span>

      <span class="header-item">
        <button class="button is-primary" {{action "openLinkModal"}}>
          {{fa-icon "plus"}}
        </button>
      </span>

    </div>
  </div>
</header>
{{!-- Main --}}
<div class="container">
  {{outlet}}
</div>
{{!-- Footer --}}
{{new-link-modal id="new-link-modal" showNotification="showNotification"}}
{{new-collection-modal id="new-collection-modal" showNotification="showNotification"}}
{{notification-container notifications=notifications position="top-right"}}

<footer class="footer">
  <div class="container">
    <div class="content is-centered">
      <p>
        <strong>Link Curation</strong> by <a href="http://jgthms.com">ChangJoo Park</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="http://github.com/changjoo-park" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
