{{!-- Main Nav --}}
<header class="header">
  <div class="container">
    <!-- Left side -->
    <div class="header-left">
      <a class="header-item" href="#">
        {{link-to 'LINK CURATION' 'application' tagName="h1" class="title is-3"}}
      </a>
      <span class="header-item">
        {{link-to 'Archive' 'archive' class="link is-info"}}
      </span>
      <span class="header-item">
        {{link-to 'Collections' 'collections.index' class="link is-info"}}
      </span>
      <span class="header-item">
        {{link-to 'Admin' 'admin' class="link is-info"}}
      </span>
    </div>

    <!-- Hamburger menu (on mobile) -->
    <span class="header-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <!-- Right side -->
    <div class="header-right header-menu">
      <span class="header-item">
        <button class="button is-primary" {{action "openLinkModal"}}>
          {{fa-icon "plus"}}
        </button>
      </span>
      {{#if session.isAuthenticated}}
      <span class="header-item">
        <a href="#" {{action "logout"}} class="button">Logout</a>
      </span>

      {{else}}
      <span class="header-item">
        {{link-to 'Login / Sign Up' 'session.new' class="button"}}
      </span>
      {{/if}}
    </div>
  </div>
</header>
{{!-- Main --}}
<div class="container">
  {{outlet}}
</div>
{{!-- Footer --}}
{{new-link-modal id="new-link-modal" showNotification="showNotification"}}
{{new-collection-modal id="new-collection-modal" showNotification="showNotification"}}
{{notification-container notifications=notifications position="top-right"}}